/*seteo y estilos generales*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

/*estilos a menu*/



/*estilos a profile*/



/*estilos a news*/



/*estilos a events*/



/*estilos a friends*/