/*seteo y estilos generales*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

img{
  width: 100%;
}

/*estilos al index*/

.logo-splash{
  position: absolute;
  top: 50vh;
  transform: translateY(-50%)
}

/*estilos a register*/
.logo-register{
  position: absolute;
  top: 35vh;
}

.register-button{
  position: absolute;
  bottom: 2em;
  display: flex;
  align-items: center;
  flex-direction: column
}

.register-button button{
  font-size: 1.3em;
  padding: 10px 0;
  margin: 5px;
}

/*estilos a signup*/

.logo-header{
  margin: 1.5em 0;
}

.reg-google{
  text-align: center;
  padding: 0 1em;
}

.reg-google p{
  font-size: 1.5em;
}

#photo-chrome{
  text-align: center;
}

#photo-chrome p{
  font-size: 1.5em;
  padding: 10px 0;
  margin: 5px;
  color: #ff7b2a;
}

.form-control{
  border: 1px solid #ff7b2a;
}

#signup-google{
  position: relative;
  top: 15vh;
  padding: 1em 0;
}

#signup{
  position: relative;
  top: 20vh;
  padding: 0.5em 0;
  margin: 20px 0;
}

/*estilos a menu*/

.home{
  background-image: url(../assets/images/PF-03.png);
  height: 100vh;
  color: white;
  background-size: cover;
}

.home .menu-01{
  padding-top: 3.5em;
}

.logo-s img{
  padding-top: 1em;
}

.menu-icons{
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.menu-icons h2{
  font-size: 1.5em;
  margin: 0.2em;
}

.menu-icons i{
  font-size: 1.8em;
  padding: 0.5em;
}

.icon-cont{
  border: 2px solid white;
  border-radius: 50%;
  width: 4.3em;
  height: 4.3em;
  text-align: center;
}

/*estilos a profile*/

.navbar-brand img{
  width: 7em;
}

h4{
  margin: 0;
}

h5{
  text-align: center;
  margin-bottom: 1.5em;
}

.name-lastname{
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

.img-circle{
  margin-top: 1.5em;
}

.btn{
  background: rgba(255,179,0,1);
  background: -moz-linear-gradient(-45deg, rgba(255,179,0,1) 0%, rgba(255,124,42,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,179,0,1)), color-stop(100%, rgba(255,124,42,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,179,0,1) 0%, rgba(255,124,42,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,179,0,1) 0%, rgba(255,124,42,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,179,0,1) 0%, rgba(255,124,42,1) 100%);
  background: linear-gradient(135deg, rgba(255,179,0,1) 0%, rgba(255,124,42,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb300', endColorstr='#ff7c2a', GradientType=1 );
  border: none;
  color: white;
}

.prueba{
  display: none;
}

/*estilos a news*/



/*estilos a events*/



/*estilos a friends*/
.friends-box img {
  width: 50vw;
}

.friends-box {
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
}

.search-friend {
  margin-bottom: 1.5em;
  text-align: center;
}