<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Lab Code</title>
</head>
<body>
  <!--encabezado que se va a repetir en todas las vistas -->
  <header> 
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../assets/images/logo-lineal.png" alt="logo"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="menu.html">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="profile.html">Perfil</a></li>
            <li><a href="news.html">Noticias</a></li>
            <li><a href="#">Amigas</a></li>  
            <li><a href="events.html">Eventos</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <!-- seccion donde se puede buscar amigas -->
  <section class="search-friend">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Buscar amigas">
            </div>
            <button type="submit" class="btn btn-default">Invitar a una amiga</button>
            <!-- form to send a invitation -->
            <div id="invitation-form">
              <form class="form-inline">
                <div class="form-group">
                  <label for="exampleInputName2">Escríbele un mensaje</label>
                  <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">Escribe su correo</label>
                  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                </div>
                <button type="submit" class="btn btn-default">Send invitation</button>
              </form>
            </div>  
            <!-- End form -->
          </form>  
        </div>
      </div>
    </div>
  </section>
  <!-- muro donde va a ir las noticias de los amigos -->
  <section class="news">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                
            </div>
        </div>
    </div>
  </section>
<script src="../vendors/js/jquery.js"></script> 
<script src="../vendors/bootstrap/js/bootstrap.min.js"></script> 
<script src="../js/friends.js"></script>   
</body>
</html>