<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="../vendors/krajee/css/fileinput.min.css">
  <link rel="stylesheet" href="../vendors/krajee/css/fileinput-rtl.min.css"> -->
  <link rel="stylesheet" href="../css/main.css">
  <title>Lab Code</title>
</head>
<body>
  <!--encabezado que se va a repetir en todas las vistas -->
  <header> 
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../assets/images/logo-lineal.png" alt="logo"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="menu.html">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Perfil</a></li>
            <li><a href="news.html">Noticias</a></li>
            <li><a href="friends.html">Amigas</a></li>  
            <li><a href="events.html">Eventos</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <!-- va a contener la informacion de perfil -->
  <section class="profile-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-1">
          <img src="../assets/images/profile.png" alt="foto de perfil" class="img-circle" id="picture-profile">
        </div>
        <div class="col-xs-10 col-xs-offset-1 name-lastname col-sm-8">
          <figure class="col-xs-2 col-sm-1"><img src="../assets/images/code-icon-01.png" alt=""></figure>
          <div class="name-info col-xs-8">
            <h4>Name & Last name</h4>
          </div>
          <figure class="col-xs-2 col-sm-1"><img src="../assets/images/code-icon-02.png" alt=""></figure>
          <h5 class="col-sm-10">Generación Lima-2017</h5>
        </div>
      </div>
    </div>
  </section>
  <!-- seccion donde se va a poder compartir -->
  <section class="share-news">
    <div class="container">
      <div class="row news-profile">
        <div class="col-xs-10 col-xs-offset-1">
          <form class="form-inline">
            <div class="form-group col-sm-10">
              <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="input-post" placeholder="Que estas haciendo?">
                <div class="input-group-addon">
                  <label class="fa fa-camera" aria-hidden="true">
                    <input type="file" accept="image/*" capture="camera" id="capture" style="display: none;">
                  </label>
                  <label class="fa fa-picture-o" aria-hidden="true">
                    <input type="file" id="input-file" style="display: none;">
                  </label>
                  <i class="fa fa-code" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <!-- <input id="input-b1" name="input-b1" type="file" class="file"> -->
            <button type="button" class="btn btn-primary col-sm-2" id="share-btn">Compartir</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- muro para compartir -->
  <section class="board">
    <div class="container">
      <div class="row">
        <div class="col-xs-12" id="new-post">
          
        </div>
      </div>
    </div>
  </section>
<script src="../vendors/js/jquery.js"></script> 
<script src="../vendors/moment/moment.js"></script>
<script src="../vendors/bootstrap/js/bootstrap.min.js"></script> 
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script src="../js/firebase.js"></script>
<script src="../js/signup.js"></script>
<script src="../js/profile.js"></script>   
</body>
</html>