<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!--enlace propuesto  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--  -->
  <link rel="stylesheet" href="../css/main.css">
  <title>Lab Code</title>
</head>
<body>
  <!-- propuesta de header inicial-->
  <header>
      <nav class="navbar navbar-default back-navbar" role="navigation">
        <!-- despliegue en dispositivos móviles -->
        <div class= "navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- logo de navbar-->
          <a class="navbar-brand" href="#">
            <img class="logo-size" src="../assets/images/img-prop/logo-lab.png" alt="">
            <h1 class= "title-list-service" > </Code></h1>
          </a>
        
        <!-- enlaces de navegación visibles en desktop y agrupados no visibles en vista móvil -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Egresadas</a></li>
            <li><a href="#">Postulantes</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!--  fin de propuesta-->
  <main class="home">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 logo-register">
          <img src="../assets/images/PF-01.png" alt="logo">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 register-button">
          <button class="btn btn-default col-xs-8 col-xs-offset-2 col-sm-4" type="submit">Login</button>
          <button class="btn btn-default col-xs-8 col-xs-offset-2 col-sm-4" id="signup" type="submit">Sign up</button>
        </div>
      </div>
    </div>
  </main>
  <!-- propuesta de footer -->
  <div class="container-fluid" id="footer">
    <div class="container-flex">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="row row.d-inline-flex">
            <div col-xs-12  col-sm-12 col-md-12 col-lg-12>
               <img class="img-responsive" src="assets/images/logo-lineal.png" alt="">
              <hr>
            </div>
          </div>
      <div class="row row.d-inline-flex">
        <div col-xs-12  col-sm-12 col-md-12 col-lg-12>
          <div class="content-3-1">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div> 
                <ul class="footer-list-1 list-unstyled letter-color">
                  <li>Quines Somos</li>
                  <li>Egresadas</li>
                  <li>Postulantes</li>
                  <li>Eventos</li>
                  <li>Help</li>
                  <li>Login</a></li>
                  <li>Register</a></li>
                 </ul>
              </div>            
            </div>
          </div>
          <div class="content-3-2">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 letter-color">
              <div class="center-block">  
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>    
            </div>
          </div>
          <div class="content-3-3">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div>  
                <ul class="footer-list-2 list-unstyled hidden-xs visible-lg letter-color">
                  <li>GitHub</li>
                  <li>Javascript</li>
                  <li>Servicios</li>
                </ul>
              </div>    
            </div>
          </div>
  
          <div class="content-3-4">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="content  content-empty hidden-xs">
                
              </div>
              <div>  
                <ul class="footer-list-3 list-unstyled">
                  <li><img class="img-footer" src="../assets/images/img-prop/appstore.png" alt=""></li>
                  <li><img class="img-footer" src="../assets/images/img-prop/enBadgeWebGeneric.png" alt=""></li>
                </ul>
              </div>    
            </div>
          </div>
        </div> 
      </div>  
  
      <div class="row row.d-inline-flex">
        <div col-xs-12  col-sm-12 col-md-12 col-lg-12>
          <hr>
        </div>
      </div>
  
    </div>
    </div>
    </div>
    </div>
    
  <!--  -->

  
<script src="../vendors/js/jquery.js"></script> 
<script src="../vendors/bootstrap/js/bootstrap.min.js"></script> 
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script src="../js/register.js"></script>   
</body>
</html>