<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Lab Code</title>
</head>
<body>
  <main class="home">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 logo-register">
          <img src="../assets/images/PF-01.png" alt="logo">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 register-button">
          <button class="btn btn-default col-xs-8 col-xs-offset-2 col-sm-6" type="submit" id="enter">Ingresa</button>
          <button class="btn btn-default col-xs-8 col-xs-offset-2 col-sm-6" id="signup" type="submit">Registrate</button>
        </div>
      </div>
    </div>
  </main>
<script src="../vendors/js/jquery.js"></script> 
<script src="../vendors/bootstrap/js/bootstrap.min.js"></script> 
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script src="../js/register.js"></script>   
</body>
</html>