<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Lab Code</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-7 logo-header">
          <img src="../assets/images/PF-02.png" alt="logo">
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 quienes-somos">
          <p>Somos una red social para developers, chicas como tú que quieren compartir su experiencia con el código y más...</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 reg-google">
          <p>Regístrate en sólo un paso con Google!</p>
        </div>
        <button class="btn btn-default col-xs-8 col-xs-offset-2" type="submit" id="signup-google">Inicia con google</button>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="photo-chrome"></div>
      </div>
    </div>
    <div class="row">
      <div id="password">
        <p>Contraseña entre 4 y 10 dígitos:</p>
        <input type="password" class="form-control" placeholder="Escribe tu contraseña">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="signup-box">
          <p>¡Bienvenida a la red Social!</p>
          <button class="btn btn-default col-xs-6 col-xs-offset-3 registrate" type="submit" id="signup">Regístrate</button>
        </div>
      </div>
    </div>
  </div>  
    
  <script src="../vendors/js/jquery.js"></script> 
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script> 
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../js/firebase.js"></script>
  <script src="../js/signup.js"></script>   
</body>
</html>